!border = "1px solid #ccc"

body
  background: white
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif
  font-size: 1.2em
  line-height: 1.6em

h1, h2, h3, h4, h5, h6
  font-weight: bold

h1
  font-family: Times, "Times New Roman", serif
  font-size: 3em
  margin: 24px 0
  text-align: center

h2
  font-size: 2em
  margin: 16px 0

h3
  border-bottom: 4px #aaa solid
  color: #222
  font-size: 1.25em
  margin: 12px 12px 6px 0

select
  font-size: 1.1em

th
  font-weight: bold

th, td
  border = !border
  min-width: 100px
  padding: .25em
  
  &.amount
    min-width: 75px

.hide
  display: none

#page
  margin: 0 auto 16px
  width: 700px

#content
  border = !border
  padding: 5px

