%p iouUC keeps track of who owes who coffee money in the office. I suppose it could keep track of just general IOU-type things, but it was built with coffee in mind.

= partial :_add_transaction

= partial :_people_debt
= partial :_person_form
