!!! 5
%html{:lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title iouUC - #{@title}
    
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/iou.css", :rel => "stylesheet", :type => "text/css"}/
    
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/png"}/
    /[if IE]
      %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %body
    #page
      %h1
        %a{:href => '/'}= @title
    
      #content
        - unless @errors.nil? or @errors.empty?
          #errors.notice
            %ul
            - @errors.each do |e|
              %li= e
        = yield
    
      #footer
        
